.idea

**pod-tolerate.yaml

**angelina.key
**angelina.csr
**csr-angelina.yaml
**angelina.crt

# labs files to ignore

# contexts
contexts.txt
context_default_kubectl.sh
context_default_no_kubectl.sh

# schedule pods on master nodes
master_schedule_reason.txt

# pod ready if service is reachable
4_pod1.yaml

# kubectl sorting
find_pods.sh
find_pods_uid.sh

6-pv.yaml
6-pvc.yaml
6-deploy.yaml